.parallax {
    background-image: url(./../../assets/img/Section-Image-2.jpg);
    height: 34rem;
    background-position: 50% 50%;
    background-attachment: fixed;
    margin-bottom: 10rem;
    background-size: cover;
}