@import "./../../../styles/mixins";
@import "./../../../styles/variables";

.postItem {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 3rem;
  align-items: start;
}

.description {
  @include respond(large) {
    text-align: center;
  }
  display: grid;
  row-gap: 1.5rem;
}
.link {
  &:link,
  &:visited {
    text-decoration: none;
    font-size: 2rem;
    color: $color-primary;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  &:hover,
  &:active {
    color: $color-link;
  }
}
.date {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 2px;
  opacity: 0.6;
}
