@import "./../../styles/variables";
@import "./../../styles/mixins";

.productItem {
  position: relative;
  // padding: 0 1.5rem;

  // @include respond(large) {
  //   padding: 0 4%;
  // }
}
.imgContainer {
  height: 38rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 1.5rem;
  display: flex;
  transition: all 0.3s;

  margin-bottom: 2.5rem;
}
.imgContainer:hover .btn {
  opacity: 1;
  visibility: visible;
  transition: all 0.8s;
}

.btn {
  width: 100%;
  margin-top: auto;
  opacity: 0;
  visibility: hidden;
}
.saleLabel {
  display: inline-block;
  background-color: $color-white;
  padding: 1rem 2rem;
  position: absolute;
  top: 0;
  color: $color-link;
  font-weight: 700;
  right: 0;
  margin-top: 1rem;
  margin-right: 1rem;
}
.description {
  text-align: center;
}
.link {
  &:link,
  &:visited {
    text-decoration: none;
    font-size: 2rem;
    color: $color-primary;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}
.priceContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}
.price {
  font-size: 1.6rem;
  color: rgba($color-primary, 0.8);
}
.priceSale {
  color: rgba($color-link, 0.8);
}
