@import "./../../styles/variables";
@import "./../../styles/mixins";

.header {
  max-width: 94rem;
  margin: 0 auto;
  padding: 2.5rem;
  position: relative;
  z-index: 500;
  &Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
  }
  &Logo {
    width: 11rem;
  }
  &Img {
    width: 100%;
  }
}
.nav {
  display: flex;
  margin-left: auto;

  @include respond(large) {
    // display: none;
  }
  &List {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    @include respond(large) {
      transition: transform 0.5s;
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      transform: translateY(-100%);
      z-index: 200;
      visibility: hidden;
      opacity: 0;
      background-color: $color-white;
      padding: 2rem 0;
    }
    &.open {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
      
    }
  }
  &item {
    padding: 0.4rem;
   
  }
  &Link {
    &:link,
    &:visited {
      color: $color-primary;
      box-sizing: content-box;
      text-decoration: none;
      font-size: 1.2rem;
      text-transform: uppercase;
      opacity: 0.6;
      letter-spacing: 1px;
      font-weight: 700;
      transition: opacity border 0.3s;
      display: inline-block;
      width: 100%;
    }

    &:hover,
    &:active {
      opacity: 1;
      border-bottom: 1px solid $color-link;
    }
    &.active {
      opacity: 1;
    }
  }
  
}
.cart {
  display: flex;
  align-items: center;
  color: $color-primary;
  opacity: 0.6;
  margin-left: auto;
  gap: 1rem;
  &Btn {
    height: 2rem;
    width: 1.6rem;
  }
  &Text {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  &Amount {
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    background-color: $color-primary;
    display: inline-block;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
.open {
  &Nav {
    cursor: pointer;
    display: none;
    @include respond(large) {
      display: block;
      width: 2rem;
    }
  }
  &Img {
    width: 100%;
  }
}
